<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607128348257-1a15aqjpt0mlmnu70eddcukq5n83lcc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607128348257-1a15aqjpt0mlmnu70eddcukq5n83lcc9</string>
	<key>API_KEY</key>
	<string>AIzaSyAfC3qHDFYW18jjY12jMs8-giCq9XNVvfo</string>
	<key>GCM_SENDER_ID</key>
	<string>607128348257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.com.room</string>
	<key>PROJECT_ID</key>
	<string>room-278c1</string>
	<key>STORAGE_BUCKET</key>
	<string>room-278c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607128348257:ios:c5cca54a525405bfdc6c20</string>
</dict>
</plist>